[Unit]
Description=sPHENIX sEPD Prometheus TSDB Exporter
After=network.target home.mount
After=sepd_server.service
StartLimitIntervalSec=10

[Service]
Type=simple
User=phnxrc
WorkingDirectory=/home/phnxrc/sepd/sEPD_SlowControls
ExecStart=/bin/bash -c 'source ./venv/bin/activate && python sepd_sc_exporter.py -p 9113 -c daq02_monitoring_config.json'
KillMode=mixed

WantedBy=multi-user.target
