[Unit]
Description=sPHENIX sEPD Slow Controls Server
After=network.target home.mount
StartLimitIntervalSec=10

[Service]
Type=simple
User=phnxrc
WorkingDirectory=/home/phnxrc/sepd/sEPD_SlowControls
ExecStart=/bin/bash -c 'source ./venv/bin/activate && python sepd_sc_server.py daq02_server_config.json'
KillMode=mixed

WantedBy=multi-user.target
